* {
  font-family: sans-serif;
  text-align: center;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 20px;
  border: solid;
  border-width: 0.2px;
  border-radius: 20px 20px 0px 0px;
  border-color: #e6e4e4;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}